
<section id="container" class="sub-page">
	<div class="wrap-container zerogrid">
		<div class="crumbs">
			<ul>
				<% archiveData.nav.forEach((nav)=>{ %>
				<li><a href="<%= nav.href %>"><%= nav.navName %></a></li>
				
				<% }) %>
			</ul>
		</div>
		<div id="main-content" class="col-2-3">
			<div class="wrap-content">
				<% archiveData.mainData.forEach((data)=>{ %>
				<article>
					<div class="art-header">
						<a href="<%= data.title.href %>"><h3><%= data.title.name %> </h3></a>
						<div class="info"> <%= data.postDate %>: <a href="<%= data.postCategory.href %>"><%= data.postCategory.name %></a></div>
					</div>
					<div class="art-content">
						<img src="<%= data.image.path %>" alt="<%= data.image.alterText %>"/>
						<p><%= data.desc %></p> <br>
					</div>
					
						<button class="btn"><a class="button " href="<%= data.buttonName.alterText %>"><%= data.buttonName.name %></a></button>
					
					
				</article>
			<% }) %>
				
			</div>
		</div>
		<div id="sidebar" class="col-1-3">
			<div class="wrap-sidebar">
				<!---- Start Widget ---->
				<div class="widget wid-about">
					<div class="wid-header">
						<h5><%=commonSlideData.about.title %></h5>
					</div>
					<div class="wid-content">
						<a href="<%=commonSlideData.about.image.href %>">
							<img src="<%=commonSlideData.about.image.path %>" alt="<%=commonSlideData.about.image.alterText %>"/>
						</a>
						<p><a href="<%=commonSlideData.about.span.href %>"><span><%=commonSlideData.about.span.keyword %></span></a><%=commonSlideData.about.description %></p>
					</div>
				</div>
				<!---- Start Widget ---->
				<div class="widget wid-post">
					<div class="wid-header">
						<h5><%=commonSlideData.latestPosts.title %></h5>
					</div>
					<div class="wid-content">
						<% commonSlideData.latestPosts.images.forEach((data)=>{ %>
						<div class="post">
							<a href="<%= data.image.href%>"><img src="<%= data.image.path%>" alt="<%= data.image.alterText%>"/></a>
							<div class="wrapper">
							  <h5><a href="#"><%= data.title%></a></h5>
							   <span><%= data.price%></span>
							</div>
						</div>
						<% }) %>
						
					</div>
				</div>
				<!---- Start Widget ---->
				<div class="widget wid-tag">
					<div class="wid-header">
						
						<h5><%= commonSlideData.tags.title %></h5>
					</div>
					<div class="wid-content">
						<% commonSlideData.tags.tagKeywords.forEach((tag)=>{ %>
						<a href="<%= tag.tagName.href %>"> <%= tag.tagName.keyword %> ,</a>
						<% }) %>
					</div>
				</div>
				<!---- Start Widget ---->
				<div class="widget wid-gallery">
					<div class="wid-header">
						<h5><%= commonSlideData.galleyPic.title %></h5>
					</div>
					<div class="wid-content">
                     <% commonSlideData.galleyPic.images.forEach((data)=>{ %>
						<a href="<%= data.image.href%>"><img src="<%= data.image.path %>" alt="<%= data.image.alterText %>"></a>
						<% }) %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

