
<section id="container" class="sub-page">
	<div class="wrap-container zerogrid">
		<div class="crumbs">
			<ul>
				<%galleryNav.forEach((nav)=>{ %>
				<li><a href="<%= nav.href %>"><%= nav.name %></a></li>
				<% }) %>
			</ul>
		</div>
		<div id="main-content">
			<div class="wrap-content">
				<div class="row">
					<% galleryData.forEach((data)=>{ %>
					<div class="col-1-4">
						<div class="zoom-container">
							<a href="<%= data.image.href%>">
								<img src="<%= data.image.path%>" alt="<%= data.image.alterText%>" />
							</a>
						</div>
					</div>
					<% }) %>
				</div>
			</div>
		</div> 
	</div>
</section>

