<!--////////////////////////////////////Slide Bar-->

	<div class="zerogrid">
		<div class="callbacks_container">
			<ul class="rslides" id="slider4">
				<% homepageData.slideBar.forEach((slide)=>{ %>
				<li>
					<img src="<%= slide.image%>" alt="<%= slide.alterText%>">
					<div class="caption">
						<h2><%= slide.title%></h2></br>
						<p><%=slide.desc%></p>
					</div>
				</li>

				<% }) %>
			</ul>
		</div>
	</div>
<!--////////////////////////////////////Slide End-->


<!--////////////////////////////////////Container-->

<section id="container" class="index-page">
	<div class="wrap-container zerogrid">
		<!-----------------content-box-1-------------------->
		<section class="content-box box-1">
			<div class="zerogrid">
				<div class="row box-item"><!--Start Box-->
					<h2><%= homepageData.slideHead.boldTitle %></h2>
					<span><%= homepageData.slideHead.spanDesc %></span>
				</div>
			</div>
		</section>
		<!-----------------content-box-2-------------------->
		<section class="content-box box-2">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<div class="header">
						<h2>Welcome</h2>
						<hr class="line">
						<span>text text text text text</span>
					</div>
					<div class="row">
						<% homepageData.welcomeFood.forEach((foodDetails)=>{ %>
						<div class="col-1-3">
							<div class="wrap-col">
								<div class="box-item">
									<span class="ribbon"><%= foodDetails.cardName %><b></b></span>
									<img class="homeFood" src="<%= foodDetails.image %>" alt="<%= foodDetails.alterText %>">
									<p><%= foodDetails.desc %></p>
									<a href="<%= foodDetails.href %>" class="button button-1"><%= foodDetails.buttonName %></a>
								</div>
							</div>
						</div>
                        <% }) %>
						
					</div>
				</div>
			</div>
		</section>
	</div>
</section>
<!--////////////////////////////////////Container End-->
