
<section id="container" class="sub-page">
	<div class="wrap-container zerogrid">
		<div class="crumbs">
			<ul>
				<% locationData.nav.forEach((nav)=>{ %>
				<li><a href="<%= nav.href %>"><%= nav.navName %></a></li>
				<% }) %>
			</ul>
		</div>
		<div id="main-content">
			<div class="wrap-content">
				<div class="row">
					<div class="col-1-3">
						
						<div class="wrap-col">
							<h3><%= locationData.address.title %></h3>
							<p><%= locationData.address.content %></p><br/>
							<h3><%= locationData.hoursOfOperation.title %></h3>
							<p><span><%= locationData.hoursOfOperation.days.day1.dayName %> : </span><%= locationData.hoursOfOperation.days.day1.time %> </p>
							<p><span><%= locationData.hoursOfOperation.days.day2.dayName %>: </span><%= locationData.hoursOfOperation.days.day1.time %></p><br/>
							<h3><%= locationData.contactInfo.title%></h3>
							<p><span><%= locationData.contactInfo.email.type%>: </span><%= locationData.contactInfo.email.mail%></p>
							<p><span><%= locationData.contactInfo.tel.type%> : </span><%= locationData.contactInfo.tel.telNumber%></p>
							<p><span><%= locationData.contactInfo.fax.type%> : </span><%= locationData.contactInfo.fax.faxNumber%></p>
						</div>
					</div>
					<div class="col-2-3">
						<div class="wrap-col">
							<div class="wrap-map"><iframe src="<%= locationData.maps.path%>" width="<%= locationData.maps.width%>" height="<%= locationData.maps.height%>" frameborder="<%= locationData.maps.frameborder%>" style="border:0"></iframe></div>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</div>
</section>
