<section id="container" class="sub-page">
	<div class="wrap-container zerogrid">
		<div class="crumbs">
			<ul>
				<% newsData.nav.forEach((nav)=>{ %>
				<li><a href="<%=nav.href %>"><%=nav.navName %></a></li>
				<% }) %>
				
			</ul>
		</div>
		<div id="main-content" class="col-2-3">
			<div class="wrap-content">
				<article>
					<div class="art-header">
						<div class="entry-title"> 
							<h2><%= newsData.allContent.title %></h2>
						</div>
						<div class="info">By <a href="<%= newsData.allContent.authorAndPostDate.href %>"><%= newsData.allContent.authorAndPostDate.name %></a><%= newsData.allContent.authorAndPostDate.postDate %></div>
					</div>
					<div class="art-content">
						<img src="<%= newsData.allContent.contentMainPart.image.path %>" alt="<%= newsData.allContent.contentMainPart.image.alterText %>" />
						<div class="excerpt"><p><%= newsData.allContent.contentMainPart.desc.firstPart %></p>
						</div>
						<p><%= newsData.allContent.contentMainPart.desc.secondPart %></p>
						<blockquote><p><%= newsData.allContent.contentMainPart.desc.blockQuote %></p></blockquote>
						<p><%= newsData.allContent.contentMainPart.desc.lastPart %></p>
						<h2><%= newsData.allContent.contentMainPart.headingList.heading1.title %></h2>
						<p><%= newsData.allContent.contentMainPart.headingList.heading1.desc %></p>
						<h2><%= newsData.allContent.contentMainPart.headingList.heading2.title %> 2</h2>
						<p><%= newsData.allContent.contentMainPart.headingList.heading2.desc %></p>
						<h2><%= newsData.allContent.contentMainPart.headingList.heading3.title %></h2>
						<p><%= newsData.allContent.contentMainPart.headingList.heading3.desc %></p>
						
						<div class="note">
						  <ol>
							<li><%= newsData.allContent.contentMainPart.headingList.listItem.one %></li>
							<li><%= newsData.allContent.contentMainPart.headingList.listItem.two %></li>
							<li><%= newsData.allContent.contentMainPart.headingList.listItem.three %></li>
							
						  </ol>
						  <div class="clear"></div>
						</div>
						<p><%= newsData.allContent.contentMainPart.headingList.description.firstPart %></p>
						<p><%= newsData.allContent.contentMainPart.headingList.description.secondPart %></p>
					</div>
				</article>
				<div class="widget wid-related">
					<div class="wrap-col">
						<div class="wid-header">
							<h5><%= newsData.relatedPost.title %></h5>
						</div>
						<div class="wid-content">
							<div class="row">
								<% newsData.relatedPost.itemList.forEach((item)=>{ %>
								<div class="col-1-3">
									<div class="wrap-col">
										<a href="<%= item.image.href %>"><img src="<%= item.image.path %>" /></a>
										<h4><%= item.image.desc %></h4>
									</div>
								</div>
							<% }) %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="sidebar" class="col-1-3">
			<div class="wrap-sidebar">
				<!---- Start Widget ---->
				<div class="widget wid-about">
					<div class="wid-header">
						<h5><%=commonSlideData.about.title %></h5>
					</div>
					<div class="wid-content">
						<img src="<%=commonSlideData.about.image.path %>" alt="<%=commonSlideData.about.image.alterText %>"/>
						<p><%=commonSlideData.about.description %></p>
					</div>
				</div>
				<!---- Start Widget ---->
				<div class="widget wid-post">
					<div class="wid-header">
						<h5><%=commonSlideData.latestPosts.title %></h5>
					</div>
					<div class="wid-content">
						<% commonSlideData.latestPosts.images.forEach((data)=>{ %>
						<div class="post">
							<a href="<%= data.image.href%>"><img src="<%= data.image.path%>" alt="<%= data.image.alterText%>"/></a>
							<div class="wrapper">
							  <h5><a href="#"><%= data.title%></a></h5>
							   <span><%= data.price%></span>
							</div>
						</div>
						<% }) %>
						
					</div>
				</div>
				<!---- Start Widget ---->
				<div class="widget wid-tag">
					<div class="wid-header">
						
						<h5><%= commonSlideData.tags.title %></h5>
					</div>
					<div class="wid-content">
						<% commonSlideData.tags.tagKeywords.forEach((tag)=>{ %>
						<a href="<%= tag.tagName.href %>"> <%= tag.tagName.keyword %> ,</a>
						<% }) %>
					</div>
				</div>
				<!---- Start Widget ---->
				<div class="widget wid-gallery">
					<div class="wid-header">
						<h5><%= commonSlideData.galleyPic.title %></h5>
					</div>
					<div class="wid-content">
                     <% commonSlideData.galleyPic.images.forEach((data)=>{ %>
						<a href="<%= data.image.href%>"><img src="<%= data.image.path %>" alt="<%= data.image.alterText %>"></a>
						<% }) %>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>